* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app,
html,
body{
    width: 100%;
    height: 100%;
    min-width: 1366px;
}

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}
.el-card {
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.el-table {
    margin-top: 15px;
    font-size: 12px;
}
.el-steps {
    margin: 15px 0;
}
.ql-editor {
    min-height: 300px;
}
.iconfont {
    margin-right: 8px;
}
.iptDiv > input {
    background: rgba(12, 12, 12, .1) !important;
    color: lightskyblue;
    border: 0;
}
